<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443376036020-i6bmspfbv5nqdpia09kt31n9jtodk8lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443376036020-i6bmspfbv5nqdpia09kt31n9jtodk8lm</string>
	<key>API_KEY</key>
	<string>AIzaSyDw0EE-Af7bML8iQCU8C1TxMY29MIcOY68</string>
	<key>GCM_SENDER_ID</key>
	<string>443376036020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.smartHome</string>
	<key>PROJECT_ID</key>
	<string>smart-home-75572</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-75572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443376036020:ios:fd586281013d21b2f2cfe1</string>
</dict>
</plist>